{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="{{ profile.avatar }}" class="card-img" alt="avatar">
            </div>
            <div class="col-mx-10">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.firstname ~" "~ profile.lastname }} <a href="#"><small>Modify</small></a></h5>
                    <p class="card-text">aKa : {{ profile.pseudo }} <a href="#"><small>Modify</small></a></p>
                    <p class="card-text">Date of Birth : {{ profile.date_of_birth|date("m/d/Y") }} <a href="#"><small>Modify</small></a></p>
                    <p class="card-text">Galaxy : {{ profile.galaxy_name }} <a href="#"><small>Modify</small></a></p>
                    <p class="card-text">Planet : {{ profile.planet_name }} <a href="#"><small>Modify</small></a></p>
                    <p class="card-text">Password : {{ profile.password }} <a href="#"><small>Modify</small></a></p>
                    <p class="card-text">email: {{ profile.email }} <a href="#"><small>Modify</small></a></p>
                    <p class="card-text">Description : Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
                        avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur
                        anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que
                        survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été
                        popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment,
                        par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker. <a href="#"><small>Modify</small></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}