{% extends 'layout.html.twig' %}

{% block content %}
    <h3>Your Posts</h3>
    <a href="/post/addPost" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New post</a>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-mx-10">
                {% for post in posts %}
                    <div class="card-body">
                        <div class="col-md-8">
                            <img src="{{ post.img }}" class="card-img" alt="picture">
                        </div>
                        <p class="card-text">Title : {{ post.title }} </p>
                        <p class="card-text">Content : {{ post.content }} </p>
                        <p class="card-text">Likes : {{ post.score }}</p>
                        <a href="/post/editPost/{{ post.id }}">Edit</a>
                        <a href="/post/deletePost/{{ post.id}}">Delete</a>
                        <a href="/post/like/{{ post.id}}">Like</a>
                    </div>
                {% else %}
                    <p>No post to display</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}