{% extends 'layout.html.twig' %}
    {% block content %}
        {% if not session.login %}
        <section class = "bio">
            <div class="text">
                <h2>Biography</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat non risus nec varius. Vestibulum non bibendum quam. Aliquam pharetra, ex nec tempus tristique, sem nibh eleifend ex, ut finibus orci orci vitae mauris. Vestibulum vitae sem eget mi luctus volutpat. Vestibulum maximus enim vel mi pellentesque, a accumsan libero maximus. Pellentesque sem nisi, euismod quis venenatis ac, rhoncus in enim. Vestibulum interdum nisi vel suscipit scelerisque. Praesent eu velit feugiat, euismod dolor sit amet, rhoncus lacus. In a blandit lectus, non elementum ipsum. Praesent mattis libero vel libero tristique, et pharetra sapien dictum. Pellentesque ligula mauris, cursus in hendrerit sit amet, pretium in nisi.</p>
            </div>
            <div>
                <img class="img" src="https://media.giphy.com/media/xT9IgioE60R9797Uc0/giphy.gif" alt="image planet">
            </div>
        </section>
        <section class= "redirected">
            <div class= "row">
                <div class= "col-3"></div>
                <div class= "button">
                    <a href="/home/signUp"><i class="em em-alien" aria-role="presentation" aria-label="EXTRATERRESTRIAL ALIEN"></i> Sign Up</a>
                </div>
                <!--<div class= "col-2"></div>-->
                <div class= "button">
                    <a href="/home/login"><i class="em em-rocket" aria-role="presentation" aria-label="ROCKET"></i> Login</a>
                </div>
            </div>
        </section>
        {% endif %}
        <!-- PARTIE SI ON EST CONNECTE-->
        {% if session.login %}
            <div class="container-fluid">
                <div class="row">
                    {% for posts in post %}
                        {% for post in posts %}
                        <div class="card col-11 mt-3 mr-2 bg-light mb-3">
                            <div class="card-header">From {{ post.user_pseudo }}</div>
                            <div class="card-body">
                                {% if post.img %}
                                    <img class="card-img-top" src="{{ post.img }}" alt="post image">
                                {% endif %}
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.content }}</p>
                                <p class="card-text">Likes {{ post.score }}</p>
                                <a href="/post/showComments/{{ post.id }}" class="btn-edit">Comments</a>
                                <a href="/post/like/{{ post.id }}" class="btn-show">Like</a>
                            </div>
                        </div>
                            {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}